{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="apple-touch-icon" sizes="120x120" href="https://static.cdninstagram.com/rsrc.php/v3/ys/r/aM-g435MtEX.png" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

        <style>
            body {
                background: #f5f5f5;
                font-family: 'Helvetica Neue', sans-serif;
            }

            .card {
                background: #fff;
                border-radius: 10px;
                box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
            }

            .title {
                font-size: 24px;
                font-weight: 600;
                color: #333;
            }

            .subtitle {
                font-size: 18px;
                font-weight: 600;
                color: #333;
            }

            .btn-primary {
                background: #6c63ff;
                border: none;
            }
        </style>

        <title>Story Information</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary justify-content-center">
            <a class="navbar-brand" href="/">Instagram Story Viewer</a>
        </nav>
        <div class="container my-5 px-4">

            <div class="row">
                {% if categorized_data %}
                    {% for i, s in categorized_data.items %}
                        <div class="col-lg-6 mx-auto mb-4">
                            <div class="card py-3 px-4">
                                <a href="/{{ i }}/1/" class="navbar-brand" >
                                    <h4 class="title mb-4">{{ i }}</h4>
                                </a>
                                {% if s %}
                                    <div class="subtitle mt-4 mb-2">Information</div>

                                    <div class="row">
                                        {% for datas in s %}
                                            <div class="col-md-12">
                                                <div class="card mb-3">
                                                    <div class="card-body">
                                                        <a class="btn btn-primary btn-sm" href="/{{ datas.Link }}" target="_blank" >Play Video</a>
                                                        <a href="/{{ i }}/{{ datas.main_time|date:"Y-m-d" }}/" style="text-decoration: none; color: black;" ><p class="mt-3 mb-3"><b>Story time:</b>{{ datas.Time }}</p></a>
                                                        {% if datas.Tag %}
                                                            <p class="mb-0"><b>Tagged Users:</b>
                                                            {% for tag in datas.Tag|split_string:", " %}
                                                                <a href="https://www.instagram.com/{{ tag }}/" target="_blank" style="text-decoration: none; color: black;" >
                                                                    {{ tag }}
                                                                </a>
                                                            {% endfor %}
                                                            <!--{{ datas.Tag }}-->
                                                            </p>
                                                        {% endif %}
                                                        {% if ".mp4" in datas.Link %}
                                                            <video class="mt-3 p-1" style="width: 100%; height: 150px; border-radius: 30px;" controls >
                                                                <source  src="/{{ datas.Link }}" type="video/mp4" >
                                                            </video>
                                                        {% else %}
                                                            <!--<img src="/{{ datas.Link }}" class="mt-3 p-3" style="width: 80%; height: 150px;" alt=""/>-->
                                                        {% endif %}

                                                    </div>
                                                </div>
                                            </div>

                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card mb-3">
                                                <div class="card-body">
                                                    <h1>
                                                        No Data
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-lg-6 mx-auto mb-4 text-center text-uppercase">
                        <div class="card py-3 px-4">

                            <h1 class="">No Data</h1>


                        </div>
                    </div>
                {% endif %}
            </div>

        </div>

    </body>
</html>